# Sanal Ortam
venv/
**/__pycache__/
*.pyc

# Veri Setleri ve Ham Görüntüler
data/
datasets/
dataset/

# Modeller (Sadece bizim özel best.pt gitsin, diğerleri kalsın)
*.pt
!models/best.pt

# Veritabanı
*.db
src/mutfak.db

# OS dosyaları
.DS_Store
Thumbs.db